In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [35]:
# Merge the two DataFrames together based on the Dates they share
df_bitdash=pd.merge(bitcoin_df,dash_df,on='Date',how="outer")
df_bitdash.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [36]:
# Rename columns so that they are differentiated
df_bitdash.rename(columns={'Open_x':'Open Bitcoin', 'High_x':'High Bitcoin', 'Low_x':'Low Bitcoin', 
                           'Close_x':'Close Bitcoin', 'Volume_x':'Volume Bitcoin',
       'Market Cap_x':'Market Cap Bitcoin', 'Open_y':'Open Dash', 'High_y':'High Dash', 'Low_y':'Low Dash',
                           'Close_y':'Close Dash', 'Volume_y':'Volume Dash','Market Cap_y':'Market Cap Dash',
       },inplace=True)

In [37]:
df_bitdash.head()

,Date,Open Bitcoin,High Bitcoin,Low Bitcoin,Close Bitcoin,Volume Bitcoin,Market Cap Bitcoin,Open Dash,High Dash,Low Dash,Close Dash,Volume Dash,Market Cap Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [ ]:
# alternatively you can set your suffixes when the merge occurs

In [41]:
# Collecting best open for Bitcoin and Dash
best_open_bit=df_bitdash["Open Bitcoin"].max()
best_open_dash=df_bitdash["Open Dash"].max()
# Collecting best close for Bitcoin and Dash
best_close_bit=df_bitdash["Close Bitcoin"].max()
best_close_dash=df_bitdash["Close Dash"].max()
# Collecting the total volume for Bitcoin and Dash
best_volume_bit=df_bitdash["Volume Bitcoin"].sum()
best_volume_dash=df_bitdash["Volume Dash"].sum()

In [42]:
# Creating a summary DataFrame using above values
#data_BD=({"Highest_Open_Bitcoin":best_open,"Highest_Close_Bitcoin":best_close,"Highest_Volume_Bitcoin":best_volume})
df_final=pd.DataFrame({"Highest Open Bitcoin":[best_open_bit],"Highest Close Bitcoin":[best_close_bit],
                       "Highest Open Dash":[best_open_dash],"Highest Close Dash":[best_close_dash],
                       "Highest Volume Bitcoin":[best_volume_bit],"Highest Volume Dash":[best_volume_dash]})
df_final

,Highest Open Bitcoin,Highest Close Bitcoin,Highest Open Dash,Highest Close Dash,Highest Volume Bitcoin,Highest Volume Dash
0,772.42,754.56,400.42,399.85,2.438305e+10,8.557968e+09