In [2]:
# Import Dependencies
import pandas as pd

In [7]:
dataframe = [{"Frame":"Omate", "Price": "15.0", "Sales": "100" },
             {"Frame":"Classical", "Price": "15.0", "Sales": "100" },
             {"Frame":"Modern", "Price": "15.0", "Sales": "100" },
             {"Frame":"Wood", "Price": "15.0", "Sales": "100" },
             {"Frame":"Omate", "Price": "15.0", "Sales": "100" }]
df= pd.DataFrame(data=dataframe)
df.head()

       Frame Price Sales
0      Omate  15.0   100
1  Classical  15.0   100
2     Modern  15.0   100
3       Wood  15.0   100
4      Omate  15.0   100

In [10]:
df2= pd.DataFrame({"Painting": ["Mona Lisa(Knockoff)","Van Gogh(Knockoff)","Starving Artist","Toddler Drawing"],
                    "Popularity": ["Very Popular","Popular","Starving Artist","Toddler Drawing"],
                    "Price":["25","20","10","1"]})

df2.head()

              Painting       Popularity Price
0  Mona Lisa(Knockoff)     Very Popular    25
1   Van Gogh(Knockoff)          Popular    20
2      Starving Artist  Starving Artist    10
3      Toddler Drawing  Toddler Drawing     1