In [9]:
# SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd

database_path = "../Resources/icecreamstore.sqlite"

In [5]:
# Create an engine to connect to the database
engine= create_engine(f'sqlite:///{database_path}')
conn =engine.connect()

In [20]:
# Query All Records in the the Database
data_SQL= engine.execute("SELECT * FROM icecreamstore WHERE price > 1.25")
data = pd.read_sql("SELECT * FROM icecreamstore",conn)

In [21]:
# Query Single Record in the the Database
for record in data_SQL:
    print(record)

(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)

In [19]:
data.head()

   ID       Flavors  Quantities  Price
0   1       Vanilla         100   1.00
1   2     Chocolate         150   1.25
2   3    Strawberry          95   1.25
3   4    Rocky Road          50   1.50
4   5  Cookie Dough          75   1.50