# Doctor Decoder

Use Pandas scraping to help decode the medical abbreviations that a doctor might use.

In [1]:
import pandas as pd

Use Pandas to scrape the following site and decode the medical abbreviations in the list

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_medical_abbreviations'
med_abbreviations = ['BMR', 'BP', 'ECG', 'MRI', 'qid', 'WBC']

In [3]:
# Use Panda's `read_html` to parse the url
# YOUR CODE HERE
tables = pd.read_html(url)
tables[2]

,0,1,2
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,ADH,antidiuretic hormone,NaN
...,...,...,...
172,μL,microliter,NaN
173,μm,micrometer,also name micron
174,μmol,micromole,NaN
175,μOsm,micro-osmole,NaN
176,mμ,millimicron,also name nanometer

In [4]:
# Find the medical abbreviations DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns `['abb', 'full_name', 'other']`
# YOUR CODE HERE
df = tables[2]
df.columns = ['abb', 'full_name', 'other']
df.head()

,abb,full_name,other
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,ADH,antidiuretic hormone,NaN

Cleanup of extra row

In [5]:
# drop the `other` column
# YOUR CODE HERE
df.drop('other', axis =1 ,inplace=True)
df

        abb                      full_name
0    EG abb                   EG full name
1       ABG             arterial blood gas
2       ACE  angiotensin-converting enzyme
3      ACTH    adrenocorticotropic hormone
4       ADH           antidiuretic hormone
..      ...                            ...
172      μL                     microliter
173      μm                     micrometer
174    μmol                      micromole
175    μOsm                   micro-osmole
176      mμ                    millimicron

[177 rows x 2 columns]

In [6]:
df

        abb                      full_name
0    EG abb                   EG full name
1       ABG             arterial blood gas
2       ACE  angiotensin-converting enzyme
3      ACTH    adrenocorticotropic hormone
4       ADH           antidiuretic hormone
..      ...                            ...
172      μL                     microliter
173      μm                     micrometer
174    μmol                      micromole
175    μOsm                   micro-osmole
176      mμ                    millimicron

[177 rows x 2 columns]

In [7]:
# Drop the first row and set the index to the `abb` column
# YOUR CODE HERE
df = df.iloc[1:]
df.set_index('abb', inplace=True)
df.head()

                             full_name
abb
ABG                 arterial blood gas
ACE      angiotensin-converting enzyme
ACTH       adrenocorticotropic hormone
ADH               antidiuretic hormone
AED   automated external defibrillator

In [14]:
# Loop through the list of medical abbreviations and print the abbreviation
# along with the full description.
# Use the DataFrame to perform the lookup.
# YOUR CODE HERE
for abb in med_abbreviations:
    print(abb, df.loc[abb].full_name)

BMR basal metabolic rate
BP blood pressure
ECG electrocardiogram
MRI magnetic resonance imaging
qid 4 times a day
WBC white blood cell